<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_GiftPromo>
            <version>2.40.2</version>
            <depends>
                <Mage_Core/>
                <Mage_Catalog/>
                <Mage_Adminhtml/>
                <Mage_Sales/>
                <Mage_Checkout/>
                <Mage_Customer/>
                <Mage_Newsletter/>
            </depends>
        </ProxiBlue_GiftPromo>
    </modules>
    <global>
        <models>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Model</class>
                <resourceModel>giftpromo_resource</resourceModel>
            </giftpromo>
            <giftpromo_resource>
                <class>ProxiBlue_GiftPromo_Model_Resource</class>
                <deprecatedNode>giftpromo_mysql4</deprecatedNode>
                <entities>
                    <promo_rule>
                        <table>giftpromo_promo_rule</table>
                    </promo_rule>
                    <promo_coupon>
                        <table>giftpromo_promo_coupon</table>
                    </promo_coupon>
                    <promo_coupon_usage>
                        <table>giftpromo_promo_coupon_usage</table>
                    </promo_coupon_usage>
                    <promo_rule_customer>
                        <table>giftpromo_promo_customer</table>
                    </promo_rule_customer>
                </entities>
            </giftpromo_resource>
            <sales_resource>
                <rewrite>
                    <quote_item_collection>ProxiBlue_GiftPromo_Model_Sales_Resource_Quote_Item_Collection</quote_item_collection>
                </rewrite>
            </sales_resource>
            <sales>
                <rewrite>
                    <quote>ProxiBlue_GiftPromo_Model_Sales_Quote</quote>
                    <quote_item>ProxiBlue_GiftPromo_Model_Sales_Quote_Item</quote_item>
                    <quote_payment>ProxiBlue_GiftPromo_Model_Sales_Quote_Payment</quote_payment>
                    <!-- allow export of the gift product types to external systems -->
                    <order_api>ProxiBlue_GiftPromo_Model_Sales_Order_Api</order_api>
                    <order_api_v2>ProxiBlue_GiftPromo_Model_Sales_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
            <!--
                this exists purely to hide product type gift from admin where product type is used to create new product or grid filter
                If it conflicts with any 3rd party module, it can be safely removed, but note that attempting to create a new product of type gift may not work as expected (yet)
            -->
            <catalog>
                <rewrite>
                    <product_type>ProxiBlue_GiftPromo_Model_Product_Type</product_type>
                </rewrite>
            </catalog>
            <!-- coupon code blocking -->
            <salesrule>
                <rewrite>
                    <validator>ProxiBlue_GiftPromo_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
            <!-- exists to ensure Gift promo coupon data does not mix in with sales rules coupon data in reports -->
            <salesrule_resource>
                <rewrite>
                    <report_rule_createdat>ProxiBlue_GiftPromo_Model_Resource_Promo_Report_Rule_Createdat</report_rule_createdat>
                    <report_rule_updatedat>ProxiBlue_GiftPromo_Model_Resource_Promo_Report_Rule_Updatedat</report_rule_updatedat>
                </rewrite>
            </salesrule_resource>
            <!-- adjust how magento merges carts as it breaks selectable gifts -->
            <checkout>
                <rewrite>
                    <session>ProxiBlue_GiftPromo_Model_Checkout_Session</session>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Block</class>
            </giftpromo>
            <sales>
                <rewrite>
                    <reorder_sidebar>ProxiBlue_GiftPromo_Block_Sales_Reorder_Sidebar</reorder_sidebar>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <cart_sidebar>ProxiBlue_GiftPromo_Block_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Helper</class>
            </giftpromo>
            <checkout>
                <rewrite>
                    <cart>ProxiBlue_GiftPromo_Helper_Cart</cart>
                </rewrite>
            </checkout>
            <configurableswatches>
                <rewrite>
                    <productimg>ProxiBlue_GiftPromo_Helper_Productimg</productimg>
                </rewrite>
            </configurableswatches>
        </helpers>
        <resources>
            <proxiblue_giftpromo2_setup>
                <setup>
                    <module>ProxiBlue_GiftPromo</module>
                    <class>ProxiBlue_GiftPromo_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </proxiblue_giftpromo2_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <gift-simple translate="label" module="giftpromo">
                        <label>Simple Gift Product</label>
                        <model>giftpromo/product_type_gift_simple</model>
                        <composite>0</composite>
                        <index_priority>12</index_priority>
                        <qty>1</qty>
                        <price_model>giftpromo/product_type_gift_simple_price</price_model>
                    </gift-simple>
                    <gift-configurable translate="label" module="giftpromo">
                        <label>Configurable Gift Product</label>
                        <model>giftpromo/product_type_gift_configurable</model>
                        <composite>1</composite>
                        <index_priority>13</index_priority>
                        <qty>1</qty>
                        <price_model>giftpromo/product_type_gift_configurable_price</price_model>
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                        </allow_product_types>
                    </gift-configurable>
                    <gift-downloadable translate="label" module="giftpromo">
                        <label>Downloadable Gift Product</label>
                        <model>giftpromo/product_type_gift_downloadable</model>
                        <is_qty>1</is_qty>
                        <price_model>giftpromo/product_type_gift_downloadable_price</price_model>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </gift-downloadable>
                    <gift-bundle translate="label" module="giftpromo">
                        <label>Bundle Gift Product</label>
                        <model>giftpromo/product_type_gift_bundle</model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <simple/>
                            <virtual/>
                        </allowed_selection_types>
                        <price_model>giftpromo/product_type_gift_bundle_price</price_model>
                    </gift-bundle>
                </type>
            </product>
        </catalog>
        <events>
            <sales_order_place_after>
                <observers>
                    <gift_promotions_sales_order_place_after>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_order_place_after</method>
                    </gift_promotions_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_quote_item_set_product>
                <observers>
                    <gift_promotions_sales_quote_item_set_product>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_quote_item_set_product</method>
                    </gift_promotions_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_quote_remove_item>
                <observers>
                    <gift_promotions_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_quote_remove_item</method>
                    </gift_promotions_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <gift_promotions_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>giftpromo/checkout_observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </gift_promotions_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <gift_promotions_sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_convert_quote_item_to_order_item</method>
                    </gift_promotions_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <!--            <controller_action_predispatch_checkout_onepage_index>
            <observers>
                    <gift_promotions_controller_action_predispatch_checkout_onepage_index>
                    <type>singleton</type>
                    <class>giftpromo/checkout_observer</class>
                    <method>controller_action_predispatch_checkout_onepage_index</method>
                    </gift_promotions_controller_action_predispatch_checkout_onepage_index>
            </observers>
            </controller_action_predispatch_checkout_onepage_index>-->
            <checkout_type_onepage_save_order>
                <observers>
                    <gift_promotions_checkout_type_onepage_save_order>
                        <type>singleton</type>
                        <class>giftpromo/checkout_observer</class>
                        <method>checkout_type_onepage_save_order</method>
                    </gift_promotions_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_model_service_quote_submit_after>
                <observers>
                    <gift_promotions_sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_model_service_quote_submit_after</method>
                    </gift_promotions_sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_item_collection_load_before>
                <observers>
                    <gift_promotions_sales_order_item_collection_load_before>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_order_item_collection_load_before</method>
                    </gift_promotions_sales_order_item_collection_load_before>
                </observers>
            </sales_order_item_collection_load_before>
            <load_customer_quote_before>
                <observers>
                    <gift_promotions_load_customer_quote_before>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>load_customer_quote_before</method>
                    </gift_promotions_load_customer_quote_before>
                </observers>
            </load_customer_quote_before>
            <sales_convert_quote_to_order>
                <observers>
                    <salesrule>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>addRuleNameToOrder</method>
                    </salesrule>
                </observers>
            </sales_convert_quote_to_order>
            <!--<sales_quote_merge_after>-->
            <!--<observers>-->
            <!--<gift_promotions_sales_quote_merge_after>-->
            <!--<type>singleton</type>-->
            <!--<class>giftpromo/sales_observer</class>-->
            <!--<method>sales_quote_merge_after</method>-->
            <!--</gift_promotions_sales_quote_merge_after>-->
            <!--</observers>-->
            <!--</sales_quote_merge_after>-->
            <newsletter_subscriber_save_before>
                <observers>
                    <gift_promotions_newsletter_subscriber_save_before>
                        <class>giftpromo/coupons</class>
                        <method>newsletter_subscriber_save_before</method>
                    </gift_promotions_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <customer_save_before>
                <observers>
                    <gift_promotions_customer_save_before>
                        <class>giftpromo/coupons</class>
                        <method>customer_save_before</method>
                    </gift_promotions_customer_save_before>
                </observers>
            </customer_save_before>
        </events>
        <sales>
            <quote>
                <totals>
                    <nominal>
                        <sort_order>12301</sort_order>
                    </nominal>
                    <awsarp2_subscription>
                        <sort_order>12302</sort_order>
                    </awsarp2_subscription>
                    <subtotal>
                        <sort_order>12310</sort_order>
                    </subtotal>
                    <giftwrapping>
                        <sort_order>12315</sort_order>
                    </giftwrapping>
                    <msrp>
                        <sort_order>12320</sort_order>
                    </msrp>
                    <freeshipping>
                        <sort_order>12340</sort_order>
                    </freeshipping>
                    <affiliate_freeshipping>
                        <sort_order>12345</sort_order>
                    </affiliate_freeshipping>
                    <tax_subtotal>
                        <sort_order>12350</sort_order>
                    </tax_subtotal>
                    <shipping>
                        <sort_order>12360</sort_order>
                    </shipping>
                    <gomage_gift_wrap>
                        <sort_order>12461</sort_order>
                    </gomage_gift_wrap>
                    <surcharge>
                        <sort_order>12370</sort_order>
                    </surcharge>
                    <tax_shipping>
                        <sort_order>12380</sort_order>
                    </tax_shipping>
                    <weee>
                        <sort_order>12390</sort_order>
                    </weee>
                    <discount>
                        <sort_order>12400</sort_order>
                    </discount>
                    <affiliate_discount>
                        <sort_order>12403</sort_order>
                    </affiliate_discount>
                    <et_paymentextracharge>
                        <sort_order>12404</sort_order>
                    </et_paymentextracharge>
                    <customercreditbeforetax>
                        <sort_order>12405</sort_order>
                    </customercreditbeforetax>
                    <tax>
                        <sort_order>12406</sort_order>
                    </tax>
                    <affiliate_discount_after_tax>
                        <sort_order>12407</sort_order>
                    </affiliate_discount_after_tax>
                    <tax_giftwrapping>
                        <sort_order>12408</sort_order>
                    </tax_giftwrapping>
                    <giftpromo>
                        <class>giftpromo/promo_gift</class>
                        <after>discount</after>
                        <before>grand_total</before>
                        <sort_order>12410</sort_order>
                    </giftpromo>
                    <freegift>
                        <sort_order>12420</sort_order>
                    </freegift>
                    <ugiftcert>
                        <sort_order>12422</sort_order>
                    </ugiftcert>
                    <shq_pb_duty>
                        <sort_order>12423</sort_order>
                    </shq_pb_duty>
                    <customercredit>
                        <sort_order>12425</sort_order>
                    </customercredit>
                    <grand_total>
                        <sort_order>12430</sort_order>
                    </grand_total>
                    <awraf>
                        <sort_order>12431</sort_order>
                    </awraf>
                    <reward>
                        <sort_order>12432</sort_order>
                    </reward>
                    <rewards_earn>
                        <sort_order>12433</sort_order>
                    </rewards_earn>
                    <rewards_spend>
                        <sort_order>12434</sort_order>
                    </rewards_spend>
                    <accessorials>
                        <sort_order>12435</sort_order>
                    </accessorials>
                    <giftcardaccount>
                        <sort_order>12436</sort_order>
                    </giftcardaccount>
                    <aw_giftcard>
                        <sort_order>12437</sort_order>
                    </aw_giftcard>
                    <customerbalance>
                        <sort_order>12438</sort_order>
                    </customerbalance>
                    <customoptions>
                        <sort_order>12440</sort_order>
                    </customoptions>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <applied_gift_rule_ids>
                    <to_order>*</to_order>
                </applied_gift_rule_ids>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <applied_gift_rule_ids>
                    <to_order_item>*</to_order_item>
                </applied_gift_rule_ids>
            </sales_convert_quote_item>
            <sales_convert_order>
                <applied_gift_rule_ids>
                    <to_quote>*</to_quote>
                </applied_gift_rule_ids>
            </sales_convert_order>
            <sales_convert_order_item>
                <applied_gift_rule_ids>
                    <to_quote_item>*</to_quote_item>
                </applied_gift_rule_ids>
            </sales_convert_order_item>
        </fieldsets>
        <cache>
            <types>
                <giftpromo_product_valid translate="label,description" module="giftpromo">
                    <label>Gift Promotions Product Validation</label>
                    <description>Cache product validation for catalog display of gift icons and available in promotions</description>
                    <tags>GIFTPROMO_PRODUCT_VALID</tags>
                </giftpromo_product_valid>
            </types>
        </cache>
        <template>
            <email>
                <giftpromo_newsletter_subscription_email_template translate="label" module="giftpromo">
                    <label>GiftPromo Newsletter Subscription</label>
                    <file>giftpromo/newsletter_signup.html</file>
                    <type>html</type>
                </giftpromo_newsletter_subscription_email_template>
                <giftpromo_birthday_email_template translate="label" module="giftpromo">
                    <label>GiftPromo Birthday Email</label>
                    <file>giftpromo/customer_birthday.html</file>
                    <type>html</type>
                </giftpromo_birthday_email_template>
                <giftpromo_account_email_template translate="label" module="giftpromo">
                    <label>GiftPromo Account Create</label>
                    <file>giftpromo/customer_create.html</file>
                    <type>html</type>
                </giftpromo_account_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ProxiBlue_GiftPromo>
                    <files>
                        <default>ProxiBlue_GiftPromo.csv</default>
                    </files>
                </ProxiBlue_GiftPromo>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftpromo>
                    <file>giftpromo.xml</file>
                </giftpromo>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <ProxiBlue_GiftPromo>
                    <files>
                        <default>ProxiBlue_GiftPromo.csv</default>
                    </files>
                </ProxiBlue_GiftPromo>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftpromo>
                    <file>giftpromo.xml</file>
                </giftpromo>
            </updates>
        </layout>
        <routers>
            <!-- used for re-order -->
            <sales>
                <args>
                    <modules>
                        <giftpromo before="Mage_Sales">ProxiBlue_GiftPromo_Sales</giftpromo>
                    </modules>
                </args>
            </sales>
            <checkout>
                <args>
                    <modules>
                        <giftpromo before="Mage_Checkout">ProxiBlue_GiftPromo</giftpromo>
                    </modules>
                </args>
            </checkout>
            <catalog>
                <args>
                    <modules>
                        <giftpromo after="Mage_Catalog">ProxiBlue_GiftPromo</giftpromo>
                    </modules>
                </args>
            </catalog>
            <giftpromo>
                <use>standard</use>
                <args>
                    <module>ProxiBlue_GiftPromo</module>
                    <frontName>giftpromo</frontName>
                </args>
            </giftpromo>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <giftpromo after="Mage_Adminhtml">ProxiBlue_GiftPromo_Adminhtml</giftpromo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <giftpromo_clear_stale_cache>
                <schedule>
                    <cron_expr>0/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>giftpromo/cron::cleanCache</model>
                </run>
            </giftpromo_clear_stale_cache>
            <giftpromo_birthday_cron>
                <schedule>
                    <cron_expr>30 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>giftpromo/coupons::birthday_cron</model>
                </run>
            </giftpromo_birthday_cron>
        </jobs>
    </crontab>
    <default>
        <giftpromo>
            <twitter>
                <use_cache>1</use_cache>
                <cache_period>3600</cache_period>
            </twitter>
            <debug>
                <level>1</level>
            </debug>
        </giftpromo>
    </default>
</config>
